section#detail,section#about,section#press {

  margin-bottom: 30px;

  .media-holder {
    position: relative;
    padding-bottom: 46.25%;
    background-size: cover;
    background-position: 50% 50%;

    @include MediaQuery($MEDIA_DesktopBase) {
      padding-bottom: 36.25%;
    }
  }

  a:not(.link) {

    span {
      border-bottom: 1px dotted #ccc;
      @include Transition(color);
    }

    &:hover {
      color: $COLOR_PINK;
    }

  }

  a.link {

      cursor: pointer;
      width: 100%;
      display: block;
      margin: 10px 0;
      @include font-size(24);
      line-height: 20px;
      @include Transition(all,.25s);


      span {
        display: inline-block;
        border-bottom: 3px solid $COLOR_PINK;
      }

      &[disabled] {
        cursor: default;
        
        span {
          border: 0;
        }
      }


      &:hover {
        &:not([disabled]){
        color: $COLOR_PINK;
        }
      }

      &.big {

        margin: 20px 0;

        @include MediaQuery($MEDIA_DesktopBase) {
          @include Translate(0,60px);
        }

        span {
          font-size: 130%;
        }
      }
  }

  a.social {

    display: inline-block;
    @include font-size(32);
    line-height: 20px;
    margin: 10px 0;
    @include Transition(all,.25s);

    @include MediaQuery($MEDIA_DesktopBase) {
      margin-left: 5px;
    }

    &:hover {
      color: $COLOR_PINK;
    }
  }

  .content-holder {
    padding: 0 30px;
    @include MediaQuery($MEDIA_DesktopBase) {
      padding: 0 15px;
    }
  }

  .row {

    @include MediaQuery($MEDIA_DesktopBase) {
      margin: 40px 0;
    }

    .column {

      padding: 0px 15px;

      @include MediaQuery($MEDIA_DesktopBase) {
        padding: 0px 15px;
        &:not(.single) {
          &:first-child { padding-left: 0 }
          &:last-child { padding-right: 0 }
        }
        &.single {
          padding: 0;
        }
      }

      &.c1 {
        margin-top: 20px;


        @include MediaQuery($MEDIA_DesktopBase) {

          margin-top: 0;
        }
      }

      &.c2:not(.full) {

        margin-bottom: 20px;

        h1 {
          display: none;
        }
        @include MediaQuery($MEDIA_DesktopBase) {

          margin-bottom: 0;

          h1 {

            display: block;
            opacity: 0;
            strong {
              &:before {
                content: '-';
              }
            }
          }

        }
      }

      .col-xs-12.column {
        margin: 0;
        padding: 10px 0;
      }

      .no-margin {
        margin: 0;
        padding: 0;
      }

      .img-responsive {
        margin: 10px 0;
      }

    }



    h1 {

      @include font-size(80);
      line-height: 1;

      margin: 0;
      margin-bottom: 10px;

      @include MediaQuery($MEDIA_DesktopBase) {
        @include font-size(100);
      }

      &.small {
        @include font-size(60);
        @include MediaQuery($MEDIA_DesktopBase) {
          @include font-size(80);
        }
      }
    }

    h2 {
      margin: 10px 0;

      @include MediaQuery($MEDIA_DesktopBase) {
        margin: 0 0 5px 0;

        &.top {
          margin-top: 30px;
        }
      }

      @include font-size(24);
      font-family: $font_BD;
      line-height: 1.2;
      text-align: left;
    }

    h3 {
      margin: 0;
      @include font-size(24);
      font-family: $font_RG;
      font-weight: 100;
      text-align: justify;
      line-height: 1.4;
    }
  }


  img.media {
      width: 100%;
      height: auto;
  }

  .gallery-holder {

    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 220px;
    left: -30px;
    width: calc(100% + 60px);

    @include MediaQuery($MEDIA_DesktopBase) {
      left: 0;
      width: 100%;
      height: 550px;
    }

    @for $i from 0 to 20 {
      &.slide#{$i} {
        .gallery-item:nth-child(1){
          margin-left: #{(-$i * 100) + '%'}
        }
      }
    }



    .gallery-item {

      display: inline-block;
      text-align: center;
      width: 100%;
      height: 100%;
      margin: 0;
      overflow: hidden;
      padding: 0 60px;
      @include Transition(margin-left,.35s);


    }

    .table {

      display: table;
      margin: 0;
      height: 100%;
      overflow: hidden;;

      .table-cell {
        width: 100%;
        display: block;
        margin: 0 auto;
        display: table-cell;
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }

  }

  .arrow {

    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    cursor: pointer;
    @include Translate(0,-50%);

    &.next {

      right:15px;
      @include MediaQuery($MEDIA_DesktopBase) {
        right:10px;
      }

      &:before,&:after {
        -webkit-transform-origin: right center;
        transform-origin: right center;
      }

      &:before {
        margin-top: -1px;
      }
    }

    &.prev {

      left:15px;
      @include MediaQuery($MEDIA_DesktopBase) {
        left:10px;
      }

      &:before {
        margin-top: 1px;
      }
    }

    &:before,&:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      background-color: $COLOR_DARKGRAY;
      -webkit-transform-origin: left center;
      transform-origin: left center;
      border-radius: 2px;
      @include Transition(all,.15s);
    }



    &:before {
      @include Rotate(-45deg);
    }

    &:after {
      @include Rotate(45deg);
    }

    @include MediaQuery($MEDIA_DesktopBase) {
      &:hover {

        &.next,&.prev {
          &:before{
            @include Rotate(-55deg);
          }
          &:after{
            @include Rotate(55deg);
          }
        }


      }
    }

    &[disabled] {

      pointer-events: none;
      opacity: .25;

    }

  }



}
