footer {

  width: 100%;

  .footer-content {

      display: block;;
      width: 30px;
      margin: 0 auto;

      img {
        margin-bottom: 10px;
      }
  }

  .social-holder {
    display: block;
    width: 30px;
    height: 200px;
    background-color: $COLOR_PINK;
    padding: 10px 0;

    a {
      display: block;
      margin: 4px 0;
      color: $COLOR_WHITE;
      width: 100%;
      text-align: center;
      @include font-size(32px);
      @include Transition(color,.25s);

      &:hover {
        color: $COLOR_BLACK;
      }
    }
  }
}
