$headerM: 80px;
$headerD: 160px;

header {

  position: relative;
  height: $headerM + 40px;
  padding: 0 30px !important;

  #logo {
    position: absolute;
    width: 40px;
    height: auto;
    left: 100%;
    top: 50%;
    margin-left: -30px;
    margin-top: -20px;
    @include Translate(-100%,-50%);

    @include MediaQuery($MEDIA_Tablet) {
      margin: 0;
      left: 50%;
      width: 60px;
      @include Translate(-50%,-50%);
    }
  }

  .row,.column {
    height: $headerM;
  }

  .column {
    display: table;;
  }

  p {

    &.title {

      position: relative;
      width: auto;
      line-height: 30px;
      left: 5px;

      &:before {
        content: '';
        position: absolute;
        @include size(24px,30px);
        left: -5px;
        background-color: $COLOR_PINK;
        z-index: -1;
      }
    }
  }

  @include MediaQuery($MEDIA_Tablet) {

    padding: 0 15px !important;
    height: $headerD;

    .row,.column {
      height: $headerD;
    }

  }
}

@import './nav';
