nav {

  display: none !important;

  @include MediaQuery($MEDIA_Tablet) {
    display: table-cell !important;
    vertical-align: middle;
  }

  ul {

    margin: 0;
    list-style: none;

    li {

      display: block;

      a {

        width: auto;
        @include Transition(color,.15s);
        line-height: 30px;

        &:not(.disabled) {
          cursor: pointer;
        }

        &.active,&:hover {
          color: $COLOR_PINK;
        }

      }


    }
  }
}
