nav {


  @include MediaQuery($MEDIA_Tablet) {
    display: table-cell !important;
    vertical-align: middle;
  }

  ul {

    margin: 0;
    list-style: none;
    text-align: right;
    width: 100%;

    li {

      display: inline-block;
      margin-left: 15px;

      @include MediaQuery($MEDIA_Tablet) {
        margin-left: 0;
        display: block;
        line-height: 30px;
      }

      a {

        width: auto;
        @include Transition(color,.15s);

        &:not(.disabled) {
          cursor: pointer;
        }

        &.active,&:hover {
          color: $COLOR_PINK;
        }

      }


    }
  }
}
