/*main.css*/

html, body {
	width:100%;
	height:100%;

	margin:0;
	padding:0;

	overflow:hidden;
	position: static;
	
	background: #f69882;
}


html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}


h1,h2,h3,h4,text,p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-webkit-font-smoothing: antialiased;
	font-family: sans-serif;
	padding:0;
	margin:0;
	pointer-events: none;
}


.main-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}


.main-image {
	width:100%;
}

.inner-container {
	/*background: rgba(255, 255, 255, .5);*/
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-linbert {
    width: 50px;
    height: 50px;
    background: url(../img/logoLinbert.png);
    background-size: cover;
}

.message-title {
	margin-top:20px;
	margin-bottom:10px;

}

.message {
	color:white;
	font-size: 12px;
	font-family: 'verdana';
}

.follow-instagram {
	font-family: 'verdana';
	color:white;
	text-decoration: none;
	font-size: 12px;
	position: absolute;
	text-align: center;
	width: 100%;
	bottom:20px;
}

