@font-face {
    font-family: 'gt_walsheimbold';
    src: url('../fonts/gtwalsheimbold-webfont.woff2') format('woff2'),
         url('../fonts/gtwalsheimbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheimmedium';
    src: url('../fonts/gtwalsheimmedium-webfont.woff2') format('woff2'),
         url('../fonts/gtwalsheimmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheimregular';
    src: url('../fonts/gtwalsheimregular-webfont.woff2') format('woff2'),
         url('../fonts/gtwalsheimregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    

}
