$black: #000;
$white: #fff;
$lightgray: #ebebeb;
$pink: #f69882;
$maxWidth: 1080px;
$fontLT: 'GTWalshLight',sans-serif;
$fontMD: 'GTWalshMedium',sans-serif;
$fontRG: 'GTWalshRegular',sans-serif;
$fontBD: 'GTWalshBold',sans-serif;


@import 'mixins';
@import 'fonts';
@import 'normalize';
@import 'animations';
@import 'fx';

* {
  box-sizing: border-box;
}

html {

  width: 100%;
  height: 100%;
  font-family: $fontRG;

  #app {
    padding: 0 20px;
    @include MediaQuery($MEDIA_DesktopBase) {
      padding: 0;
    }
  }

}

@import 'header';
@import 'components/loading';
@import 'components/home';
@import 'components/about';
@import 'components/press';
@import 'footer';
