@import './vars';
@import './mixin';
@import './normalize';
@import './fonts';

b { font-family: $font_MD; }
strong { font-family: $font_BD; };
a,a:link,a:visited,a:hover {color:inherit; text-decoration: none;}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

html {

  overflow-y: scroll;


  body {

    font-size: $base-font-size;
    font-family: $font_RG;
    //@include background-gradient($COLOR_WHITE,#eaeaea,vertical);
  }

  #app {
    width: 100%;
    @include MediaQuery($MEDIA_Tablet) {
      display: block;
      margin: 0 auto;
    }
  }

}



@import './components/header';
@import './components/home';
@import './components/detail';
@import './components/footer';
